<tds-button
  [text]="modalId + ' Button'"
  [id]="'modal-button-not-working-' + modalId"
></tds-button>
<tds-modal
  [header]="modalId + 'modal'"
  [selector]="'#modal-button-not-working-' + modalId"
  [id]="'modal-not-working-' + modalId"
  size="md"
>
  <span slot="body"> body </span>
  <span slot="actions" class="tds-u-flex tds-u-gap2">
    <tds-button
      data-dismiss-modal
      size="md"
      text="Delete"
      variant="danger"
    ></tds-button>
    <tds-button
      data-dismiss-modal
      size="md"
      text="Cancel"
      variant="secondary"
    ></tds-button>
  </span>
</tds-modal>
